@media only screen and (max-width: 850px) {
	main .user_box {
		display: block;
		width: auto;
	}
	
	.cocktail_desc img {
		display: block;
		margin: auto;
	}
}

@media only screen and (max-width: 767px) {
	header h1 {
		font-size: 75px;
	}
	header h3 {
		font-size: 1.1em;
		padding: 0 40px;
	}
	nav ul {
		overflow: hidden;
		flex-direction: column;
	}
	nav ul li.separator, nav ul li {
		display: none;
	}
	nav ul li.selected {
		display: inline-block;
		height: 100%;
		width: 100%;
		background: none;
	}
	nav {
		position: relative;
	}
	nav div.menu {
		display: block;
		position: absolute;
		width: 65px;
		height: 100%;
		top: 0;
		right: 0;
		overflow: hidden;
	}
	nav div.menu a i {
		font-size: 20px;
		color: white;
		background: #37474f;
		width: 100%;
		height: 42px;
		padding-top: 23px;
	}
	#menu {
		max-height: 65px;
		overflow: hidden;
	}
	#menu:target {
		height: auto;
		max-height: 350px;
		transition: max-height 0.4s ease-in-out;
	}
	#menu:target ul li:not(.separator) {
		display: block;
		height: 65px;
	}
	#menu:target ul li.selected {
		background: #009688;
	}
	#menu:target .open_menu, .close_menu {
		display: none;
	}
	#menu:target .close_menu {
		display: block;
	}
	
	.cocktail_desc {
		text-align: center;
	}
	.cocktail_desc img {
		position: static;
		margin-top: 10px;
	}
	.cocktail_desc p {
		margin: 0;
	}
	.cocktail_desc li, .cocktail_desc h3 {
		text-align: left;
	}
	main input {
		width: 100%;
		max-width: 300px;
	}
	
	footer {
		text-align: center;
		width: 100%;
		height: 120px;
		padding: 0;
	}
	footer h2, footer p {
		position: static;
		display: block;
		width: auto;
		margin: 0;
		padding: 0;
	}
	footer h2 {
		font-size: 45px;
		margin-top: 15px;
	}
	footer p {
		font-size: 16px;
	}
}
@media only screen and (max-width: 480px) {
	main {
		width: calc(100% - 16px);
	}
	.item {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		min-height: 70px;
		margin: 0 0 4px -1px;
		text-align: left;
		box-shadow: none;
	}
	.item h4 {
		flex: 1;
		margin-left: 5px;
	}
	.item a {
		width: 100%;
		height: 45px;
		top: auto;
		right: auto;
		bottom: -45px;
		left: 0;
		background: #1de9b6;
		transition: bottom 0.2s ease-in-out;
		text-align: center;
	}
	.item.infav a {
		background: #FFAA20;
	}
	.item:hover a {
		bottom: 0;
		transition: bottom 0.3s ease-in-out 0.1s;
	}
	.item a * {
		color: #37474f;
		width: auto;
		display: inline-block;
		margin-top: 15px;
	}
	.item .listeIngr {
		max-height: 0px;
		margin-left: 15px;
		transition: max-height 0.3s ease-in-out;
	}
	.item:hover .listeIngr {
		max-height: 300px;
		transition: max-height 0.4s ease-in-out;
	}
	.item .listeIngr i {
		margin-top: 10px;
	}
	.item .listeIngr p {
		margin: 10px 0 60px 0;
		width: auto;
		max-width: 70vw;
	}
	.item .time {
		font-size: 12px;
		right: 8px;
		bottom: 5px;
		left: auto;
		transition: bottom 0.2s ease-in-out;
	}
	.item:hover .time {
		bottom: 50px;
		transition: bottom 0.3s ease-in-out 0.1s;
	}
	.item .image {
		height: 60px;
		width: 60px;
		margin: 5px;
	}
	.item .fa-star-o {
		display: none;
	}
	#formFavori {
		display: block;
		margin-bottom: -10px;
	}
}