@font-face {
    font-family: "Lobster";
    src: url("resources/fonts/Lobster-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("resources/fonts/Roboto-Regular.ttf");
}
body {
	background: #FCFCFC;
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: 'Roboto', 'Times New Roman';
	text-align: center;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	z-index: -10;
}
*::selection {
	background: #1de9b6;
	color: #37474f;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

/* ============== */
/* === HEADER === */
/* ============== */

header {
	width: 100%;
	height: 160px;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	background: #1de9b6;
	color: #455a64;
	position: relative;
	overflow: hidden;
}
header h1 {
	position: relative;
	display: inline-block;
	margin: 0 0 -20px 0;
	font-family: 'Lobster', 'Arial';
	font-weight: 100;
	font-size: 90px;
	transition: transform 0.2s ease-in-out;
	z-index: 1;
}
header h1:hover {
	transform: scale(1.07);
	transition: transform 0.2s ease-in-out;
}
header h1 a {
	color: white;
	transition: color 0.15s ease-in-out;
}
header h1 a:hover {
	color: #009688;
	transition: color 0.15s ease-in-out;
}
header #bubbles_box {
	max-width: 600px;
	height: 100%;
	position: absolute;
	display: inline-block;
	margin-left: -300px;
	top: 0;
	opacity: 0.8;
}
header #bubbles_box span {
	position: absolute;
	display: block;
	border-radius: 50%;
	opacity: 0;
}

/* ================== */
/* === NAVIGATION === */
/* ================== */

nav {
	width: 100%;
	height: 65px;
	background: #455a64;
	color: white;
	text-align: center;
}
nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
}
nav ul li {
	padding: 0;
	transition: background 0.2s ease-in-out;
}
nav ul li:hover {
	background: #37474f;
	transition: background 0.2s ease-in-out;
}
nav ul li.selected {
	background: #009688;
}
nav ul li.separator {
	display: flex;
	align-items: center;
	padding: 0 5px;
}
nav ul li.separator:hover {
	background: none;
}
nav ul li a {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 100%;
	margin: 0;
	color: white;
	transition: color 0.2s ease-in-out;
}
nav ul li:hover a {
	color: #1de9b6;
	transition: color 0.2s ease-in-out;
}
nav ul li a i {
	margin-right: 5px;
	font-family: FontAwesome;
}
nav .menu {
	display: none;
}

/* =============================== */
/* === STYLISATION DES BOUTONS === */
/* =============================== */

.boutonRond, .boutonRondPlein {
	height: 40px;
	color: #37474f;
	border: solid 2px #37474f;
	border-radius: 25px;
	padding: 0 15px;
	margin: 10px 0;
	cursor: pointer;
	transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background 0.2s ease-in-out;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.boutonRondPlein {
	color: white;
	background: #37474f;
}
.boutonRond:hover {
	color: #009688;
	border-color: #009688;
	transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.boutonRondPlein:hover {
	background: #009688;
	border-color: #009688;
	transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.boutonRond a, .boutonRondPlein a {
	display: inline-block;
	width: 100%;
	height: calc(100% - 20px);
	margin: 0 -15px;
	padding: 10px 15px;
	vertical-align: middle;
}
.boutonRond a i, .boutonRondPlein a i {
	margin: 0 5px 0 0;
}

#ajouter, #retirer {
	display: inline-block;
	margin: 15px 0;
}
#ajouter:hover, #retirer:hover {
	color: #FFAA20;
	border-color: #FFAA20;
}
#retirer {
	color: #37474f;
	background: #FFAA20;
	border-color: #FFAA20;
}
#retirer:hover {
	color: #FCFCFC;
}
.cocktail_desc .arrow {
	color: #37474f;
	margin: 15px 7px 0 0;
}
.cocktail_desc .arrow i {
	margin: 0;
	vertical-align: -20%;
	font-size: 30px;
	transition: color 0.2s ease-in-out;
}
.cocktail_desc .arrow i:hover {
	color: #009688;
	transition: color 0.1s ease-in-out;
}

/* ====================== */
/* === MILIEU DE PAGE === */
/* ====================== */

main {
	display: inline-block;
	margin: auto;
	width: calc(100% - 30px);
	max-width: 1100px;
	color: #37474f;
	flex: 1;
}
.cocktail_desc {
	position: relative;
	text-align: justify;
}
.cocktail_desc ul {
	padding-left: 5px;
}
.cocktail_desc ul li {
	margin: 10px 0;
}
.cocktail_desc i {
	margin: 0 8px 0 15px;
}
.cocktail_desc p {
	margin-left: 15px;
}
.cocktail_desc img {
	position: absolute;
	top: 0px;
	right: 0px;
	max-width: 100%;
	height: 250px;
}

main p {
	width: 100%;
	text-align: justify;
}
main p a {
	color: #009688;
}
main h1 {
	color: #009688;
}
main hr {
	width: 95%;
	max-width: 900px;
	height: 1px;
	background: lightgray;
	border: none;
	margin-bottom: 30px;
}
main ul.liste_ingr {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 820px;
    margin: auto;
	text-align: left;
}
main ul.liste_ingr li {
	width: 250px;
	background: #FFAA20;
	display: inline-block;
	margin: 10px 10px 2px 0;
	transition: background 0.2s ease-in-out;
	text-align: left;
}
main ul.liste_ingr li:hover {
	background: #FFCD7C;
	transition: background 0.2s ease-in-out;
}
main ul.liste_ingr li a {
	display: block;
	padding: 20px;
	padding-left: 15px;
	width: calc(100% - 40px);
    overflow: hidden!important;
	white-space: nowrap;
    text-overflow: ellipsis;
	color: #37474f;
	transition: color 0.2s ease-in-out;
}
main ul.liste_ingr li a i {
	margin: 0 5px 0 0;
	color: #37474f;
	transition: color 0.2s ease-in-out;
}
main ul.liste_ingr li:hover * {
	color: #455a64;
	transition: color 0.2s ease-in-out;
}
main ul.liste_ingr .li_cocktail {
	background: #FF7320;
}
main ul.liste_ingr .li_cocktail:hover {
	background: #FFAC7C;
}
.ingrds_path {
	display: inline-block;
	background: #1de9b6;
	padding: 5px 7px;
	border-radius: 5px;
	color: #37474f;
	margin-bottom: 8px;
}
.ingrds_path_selected {
	background: #37474f;
	color: #FCFCFC;
}
.item {
	position: relative;
	width: 250px;
	min-height: 420px;
	background: white;
	border: solid 1px #DDDDDD;
	box-shadow: 0px 5px 15px #E0E0E0;
	display: inline-block;
	overflow: hidden;
	animation: arrivee_fondue 0.5s ease-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
	margin: 10px 8px;
	text-align: center;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.item:hover {
	border-color: #1de9b6;
	background-color: rgba(29, 233, 182, 0.35);
	transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.item .image {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	height: 200px;
	width: 244px;
	margin: 3px 0 0 3px;
}
.item h4 {
	color: #009688;
	width: 90%;
	margin-left: 5%;
}
.item p {
	margin: -10px 0 25px 0;
	padding: 10px;
	text-align: left;
	font-size: 14px;
	width: 70%;
	display: inline-block;
	color: #455a64;
}
.item i {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	color: #455a64;
}
.item i.fa-star-o {
	color: #FFAA20;
	font-size: 60px;
	position: absolute;
	bottom: -8px;
	right: -8px;
	transform: rotate(10deg);
}
.item .time {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 14px;
	font-style: italic;
	color: #888888;
}
.item .time i {
	color: #AAAAAA;
	font-size: 15px;
}
main .user_box {
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin-bottom: 15px;
}

#user_edit {
    display: flex;
    flex-direction: column;
    border: dashed 2px #E0E0E0;
	margin: 30px 0 10px 0;
	padding: 10px 0;
}

#user_edit div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_input, .info_label, .info_txt {
    flex: 1;
}

.info_label {
    font-weight: bold;
    justify-content: flex-end;
}

.info_txt {
    justify-content: flex-start;
}

.info_label, .info_txt {
    display: flex;
    align-items: center;

    height: 35px;
}

.info_colored {
	font-weight: bold; 
	color: #009688;
}

#editer, #valider_edit, #annuler_edit {
	display: inline-block;
}

.info_input, .info_txt {
    text-align: left;
	padding: 0 15px;
}

.info_input input {
	width: 100%;
	height: 34px;
	padding: 0;
	background: none;
	margin: 0;
	border: none;
	border-bottom: solid 1px lightgray;
	transition: border 0.2s ease-in-out;
}

.info_input input:hover {
	border-color: #1de9b6;
}

/* ============== */
/* === FOOTER === */
/* ============== */

footer {
	position: relative;
	width: 80%;
	height: 100px;
	background: #37474f;
	text-align: justify;
	margin-top: 20px;
	padding: 0 10%;
}
footer>* {
	position: absolute;
	display: inline-block;
	color: #FCFCFC;
	top: 20px;
}
footer h2 {
	font-family: 'Lobster', 'Arial';
	font-weight: 100;
	font-size: 45px;
	margin: 0;
	left: 15%;
}
footer p {
	font-style: italic;
	right: 15%;
	font-size: 1.1em;
}
footer em {
	color: #1de9b6;
}

/* ============================ */
/* === INPUTS DU FORMULAIRE === */
/* ============================ */

input {
	width: 300px;
	height: 40px;
	font-size: 16px;
	background: none;
	border: none;
	border-bottom: solid 2px lightgray;
	margin-bottom: 10px;
	transition: border 0.2s ease-in-out;
	color: #37474f;
}
input:hover {
	border-color: #1de9b6;
}
input:focus {
	outline: none;
	border-color: #009688;
	transition: border 0.2s ease-in-out;
}
input::placeholder {
	color: #AAAAAA;
	transition: color 0.2s ease-in-out;
}
input:hover::placeholder {
	color: #1de9b6;
	transition: color 0.2s ease-in-out;
}
input:focus::placeholder {
	color: #009688;
}
input[type="submit"] {
	height: 44px;
	width: 140px;
	margin: 0;
}
input[type="submit"]:focus {
	color: #009688;
	transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
input[type="radio"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 15px 5px 15px 0;
}

main input.postal {
	width: 100px;
	margin-right: 10px;
}
main input.town {
	width: calc(95% - 100px);
	max-width: 190px;
}

.hidden {
	display: none!important;
}
.sr-only {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;

	padding: 0;
	border: 0;

	overflow: hidden;
	clip: rect(0,0,0,0);
}
#register_fields {
	max-height: 500px;
	overflow: hidden;
	opacity: 1;
	transition: max-height 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
#register_fields.hidden {
	display: block!important;
	opacity: 0;
	max-height: 0px;
	transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}
.input-error {
	color: #B71C1C;
	width: 300px;
	margin: 0 auto;
	text-align: left;
	font-size: 0.9em;
}

.button-group {
	display: flex;
	margin: 3px 0 -3px 0;
}
#register_fields .button-group {
	margin: 0;
	margin-left: calc(50% - 125px);
	max-width: 250px;
}
.button-group label {
	background: #E8E8E8;
	color: #37474f;
	margin: 0;
	width: 50%;
	height: 28px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.button-group label:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.button-group label:last-of-type {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.button-group label .radio_check_color {
	display: block;
	width: 100%; 
	height: 100px;
	background: rgb(29, 233, 182);
	transform: rotate(20deg);
	position: absolute;
	top: -35px;
	transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}
input[type="radio"]:first-of-type + label .radio_check_color {
	left: calc(100% + 12px);
}
input[type="radio"]:last-of-type + label .radio_check_color {
	right: calc(100% + 12px);
}
input[type="radio"]:first-of-type:checked + label .radio_check_color {
	left: -12px;
}
input[type="radio"]:last-of-type:checked + label .radio_check_color {
	right: -12px;
}
.button-group label p {
	position: absolute;
	top: 4px;
	margin: 0;
	z-index: 10;
}
.button-group label:first-of-type p {
	left: calc(3px + (100vw / 150));
	text-align: left;
}
.button-group label:last-of-type p {
	right: calc(3px + (100vw / 150));
	text-align: right;
}

#noResults {
	text-align: center;
	color: #888888;
}

/* ================== */
/* === ANIMATIONS === */
/* ================== */

@keyframes arrivee_fondue {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes bubbles {
	0% {
		opacity: 0.5;
		transform: translateY(200px);
	}
	100% {
		opacity: 0.1;
		transform: translateY(-35px);
	}
}

/* ================== */
/* === EASTER EGG === */
/* ================== */

body.drunk {
	animation: drunk 5s ease-in-out infinite;
}
footer h2 {
	cursor: help;
}
footer h2:active {
	transform: scale(1.1);
	user-select: none;
}
@keyframes drunk {
	0% {
		filter: blur(1px) sepia(80%);
		transform: scale(1);
	}
	20% {
		filter: blur(3px) sepia(100%);
		transform: scale(0.992);
	}
	60% {
		filter: blur(2px) sepia(90%);
		transform: scale(0.995);
	}
	70% {
		filter: blur(6px) sepia(100%);
		transform: scale(0.99);
	}
	80% {
		filter: blur(2px) sepia(90%);
		transform: scale(0.995);
	}
	100% {
		filter: blur(1px) sepia(80%);
		transform: scale(1);
	}
}