body {
	background: #FCFCFC;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Times New Roman';
	text-align: center;
	min-width: 700px;
}
a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 150px;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	background: #1de9b6;
	color: #455a64;
}
header h1 {
	display: inline-block;
	margin: 0 0 -15px 0;
	font-family: 'Lobster', 'Arial';
	font-weight: 100;
	font-size: 80px;
	transition: transform 0.15s ease-in-out;
}
header h1:hover {
	transform: scale(1.08);
	transition: transform 0.15s ease-in-out;
}
header h1 a {
	color: white;
	transition: color 0.15s ease-in-out;
}
header h1 a:hover {
	color: #009688;
}

nav {
	width: 100%;
	height: 60px;
	background: #455a64;
	color: white;
	text-align: center;
}
nav ul {
	display: inline-block;
	padding: 0;
	height: 100%;
	margin-top: 0;
}
nav ul li {
	display: inline-block;
	padding: 0;
	height: 100%;
	transition: background 0.2s ease-in-out;
}
nav ul li:hover {
	background: #37474f;
	transition: background 0.2s ease-in-out;
}
nav ul li.selected {
	background: #009688;
}
nav ul li.separator:hover {
	background: none;
}
nav ul li a {
	display: block;
	margin: 0;
	padding: 18px 15px 50% 15px;
	color: white;
	transition: color 0.2s ease-in-out;
}
nav ul li:hover a {
	color: #1de9b6;
	transition: color 0.2s ease-in-out;
}
nav i {
	margin-right: 5px; 
}

main {
	display: inline-block;
	margin: 0;
	padding: 10px 15px;
	width: calc(100% - 30px);
	max-width: 1100px;
}
main p {
	width: 100%;
	text-align: justify;
}
main h1 {
	color: #009688;
}
main hr {
	width: 95%;
	max-width: 800px;
	height: 1px;
	background: lightgray;
	border: none;
	margin-bottom: 30px;
}
main ul {
	display: inline-block;
}
main ul li {
	list-style: none;
	width: 250px;
	padding: 20px;
	background: #1de9b6;
	display: inline-block;
	margin: 10px;
}
main ul .li_cocktail {
	background: #009688;
}
main ul li * {
	margin-right: 10px;
	color: #37474f;
}
main ul .li_cocktail * {
	color: white;
}
.item {
	width: 250px;
	height: 320px;
	background: white;
	border: solid 1px #DDDDDD;
	box-shadow: 0px 5px 15px #E0E0E0;
	display: inline-block;
	overflow: hidden;
	animation: arrivee_fondue 0.5s ease-in-out;
	margin: 10px 8px;
	text-align: center;
	transition: transform 0.15s ease-in-out;
}
.item img {
	height: 200px;
}
.item:hover {
	transform: scale(1.05);
	transition: transform 0.15s ease-in-out;
}

@keyframes arrivee_fondue {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}